<%- if user_signed_in? -%>
  <li>
      <%= link_to '<i class="fa fa-sign-out"></i><div class="label">Logout</div>'.html_safe, destroy_user_session_path, method: :delete %>
  </li>
<%- else -%>
  <li>
    <%= link_to '<i class="fa fa-key"></i><div class="label">Log in</div>'.html_safe, new_user_session_path %>
  </li>
  <li>
      <%= link_to '<i class="fa fa-user-plus"></i><div class="label">Sign Up</div>'.html_safe, new_user_registration_path %>
  </li>
<%- end -%>
