<div class="toolbar toolbar-editor">
  <ul>
    <li id="save"><i class="fa fa-floppy-o"></i></li>
    <li><i class="fa fa-undo"></i></li>
    <li><i class="fa fa-repeat"></i></li>
    <li><i class="fa fa-play"></i></li>
  </ul>
</div>
<div id="editor"><% if @tank.code.nil? %>#Example code
class <%= @tank.name %> < RTanque::Bot::Brain
  def name
    '<%= @tank.name %>'
  end

  def tick!
    make_circles
    command.fire 0.25
  end

  def make_circles
    command.speed = RTanque::Bot::BrainHelper::MAX_BOT_SPEED
    command.heading = sensors.heading + RTanque::Heading.new_from_degrees(85)
    command.turret_heading = sensors.turret_heading - RTanque::Heading.new_from_degrees(35)
  end
end<% else %><%= @tank.code %><% end %></div>
<%# Extra spacing above gets added to the code %>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/ruby");

    $('#save').click(function(){
        $.ajax({
                    url : "/tanks/" + <%= @tank.id %> + '.json',
                    data : {tank: {code: editor.getValue()}},
                    type : 'PUT'
                }
        )
        .done(function() {
            console.log('saved');
        })
        .fail(function() {
            console.log('error');
        });
    });
</script>
