<div class="toolbar toolbar-editor">
  <ul>
    <li><i class="fa fa-floppy-o"></i></li>
    <li><i class="fa fa-undo"></i></li>
    <li><i class="fa fa-repeat"></i></li>
    <li><i class="fa fa-play"></i></li>
  </ul>
</div>
<div id="editor">
def yu_chen_is_cool
  puts false
end

  <%= if user_signed_in?
        current_user
      end
  %>
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/ruby");
</script>