<div id="replay-notices">
  <div id="toolbar">TechTanks Console <a id="clear-console">Clear</a> <span id="unread">0</span></div>
  <div id="console"></div>
</div>
<div class="row" id="main">
  <div class="editor-screen nopadding" id="left">
    <%= render 'tanks/editor' %>
  </div>
  <div class="sidepane-screen nopadding" id="right">
    <div id="handle"></div>
    <%= render 'tanks/sidepane' %>
  </div>
</div>

<%= javascript_include_tag 'edit', 'data-turbolinks-track' => true %>
