<div class="row" id="main">
  <div class="editor-screen nopadding" id="left"> 
    <%= render 'tanks/editor' %>
  </div>
  <div class="sidepane-screen nopadding" id="right">
    <div id="handle"></div>
    <%= render 'tanks/sidepane' %>
  </div>
</div>

<%= javascript_include_tag 'edit', 'data-turbolinks-track' => true %>