<div class="tr-container">
    <div class="card" data-no-turbolink>
        <div class="tank-color" style="background-color:<%= @tank.color.html_safe %>"></div>
        <h1>
            <%= @tank.name %>
        </h1>

        <div class="links">
            <%= link_to 'Edit', edit_tank_path(@tank), class:"button" %>
            <%= link_to 'Back', tanks_path, class:"button" %>
        </div>
    </div>
</div>
