<div class="section">
  <div class="wrap">
    <h2>Error <%= @code %> :(</h2>
    <h3>
        Something went horribly wrong! Try again later?
    </h3>
    <div class="example">
      <pre><code class="ruby">
        puts 'error'
        <%= @code %>
      </code></pre>
      <div class="player" style="background:url(/assets/images/tank1.gif)"></div>
    </div>
  </div>
</div>