<div class="section">
  <div class="wrap">
    <h2>Error <%= @code %> :(</h2>
    <h3>
        Something went horribly wrong! Try again later?
    </h3>
    <div class="example">
      <pre><code class="ruby">
        state = :sorry
        begin
            puts 'Error <%= @code %>'
        rescue
            puts "Go back to " + <%= link_to '@home', '/' %>
        else
            puts "or " + @<%= mail_to 'hello@techretreat.ca', 'report' %> + " the issue."
        end
      </code></pre>
      <div class="player" style="background:url(/assets/images/tank1.gif)"></div>
    </div>
  </div>
</div>