<div class="section">
  <div class="wrap">
    <h2>The Story</h2>
    <h4>
      TechTanks is developed as an interactive app to teach programming to high school students as part of <%= link_to 'TechRetreat', 'http://techretreat.ca' %>
    </h4>
  </div>
</div>

<div class="section">
  <div class="wrap">
    <h2>The code</h2>
    <h4>
        TechTanks is based on <%= link_to 'RTanque', 'https://github.com/awilliams/RTanque' %>.
    </h4>
    <div class="github-card" data-github="TechRetreat/game" data-width="400" data-height="" data-theme="default"></div>
  </div>
</div>
<div class="section">
  <div class="wrap">
    <h2>The people</h2>
    <h4>
      TechTanks would not be possible without the contribution of these lovely folks as well as everyone from TechRetreat!
    </h4>
    <div class="github-card" data-github="pahgawk" data-width="400" data-height="150" data-theme="default"></div>
    <div class="github-card" data-github="icechen1" data-width="400" data-height="150" data-theme="default"></div>
    <div class="github-card" data-github="drampelt" data-width="400" data-height="150" data-theme="default"></div>
    <div class="github-card" data-github="jgzuke" data-width="400" data-height="150" data-theme="default"></div>
    <div class="github-card" data-github="xmfan" data-width="400" data-height="150" data-theme="default"></div>
    <div class="github-card" data-github="xLegoz" data-width="400" data-height="150" data-theme="default"></div>
    <div class="github-card" data-github="robertg" data-width="400" data-height="150" data-theme="default"></div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
