<div class="row">
  <div class="editor-screen col-md-6 nopadding">
    <%= render 'layouts/editor' %>
  </div>
  <div class="sidepane-screen col-md-6 nopadding">
    <%= render 'layouts/sidepane' %>
  </div>
</div>