<div class="row" id="main">
  <div class="section" id="header">
    <h1>TechTanks</h1>
    <h4>Play a game and learn to code!</h4>
    <div class="header-buttons">
        <% if current_user.nil? %>
          <%= link_to 'Get Started', new_user_session_path, class:'button' %>
        <% else %>
          <%= link_to 'Create a Tank', '/tanks/new', class:'button' %>
        <% end %>
    </div>
  </div>
</div>
<div class="section row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Code. Fight. Win.</h2>
        <h4>
          TechTanks is a programming game where you get to code your own tank and fight others! It's a great way to get started with programming and learn Ruby.
        </h4>
    </div>
</div>
<div class="section row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Getting started</h2>
    <p>
      Tank brains are written in the <strong>Ruby programming language</strong> with simple commands to let you control interactions. Tanks can scan for other tanks using a radar, control their heading and their gun's heading, and can shoot at variable strengths and speeds. The more frequently shots are fired, the less powerful the shot.
    </p>
    <div class="example">
      <pre><code class="code">#Example code
class Circle &lt; RTanque::Bot::Brain
  def tick!
    make_circles
    command.fire 0.25
  end

  def make_circles
    command.speed = RTanque::Bot::BrainHelper::MAX_BOT_SPEED
    command.heading = sensors.heading + RTanque::Heading.new_from_degrees(85)
    command.turret_heading = sensors.turret_heading - RTanque::Heading.new_from_degrees(35)
  end
end</code></pre>
      <div class="player" style="background:url(/assets/images/tank1.gif)"></div>
    </div>
    <h2>The Game</h2>
    <p>
      Rules of the game are simple: Last bot standing wins. Gameplay is also pretty simple. Each tank has a base, turret and radar, each of which rotate independently. The base moves the tank, the turret has a gun mounted to it which can fire at other tanks, and the radar detects other tanks in its field of vision.
    </p>
  </div>
</div>
