<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h1>TRanque Online</h1>
      <%= if user_signed_in?
            current_user
          end
        %>

      <div id="editor">
        def ruby_is_cool
            puts true
        end
      </div>
      <script>
          var editor = ace.edit("editor");
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setMode("ace/mode/ruby");
      </script>
    </div>
  </div>
</div>
