/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require font-awesome
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.fight-layout-full {
    display: flex;
    flex-flow: row;
    width:100%;
    height:100vh;
}

.main-layout-full {
    padding-top: 50px;
    width:100%;
    height:100vh;
}

#editor {
    flex: 1 1 auto;
    height:100vh;
}

.game-screen {
    flex: 0 1 100vh;
}

.sidepane-screen {
    height:100vh;
}

.toolbar{
    height:50px;
}

.toolbar-editor{
    background: #2f0057;
}

.toolbar-side{
    background: #571117;
}

.toolbar-editor>ul>li:hover{
    background: #45007c;
}

.toolbar-side>ul>li:hover{
    background: #7c1613;
}

.toolbar>ul{
    list-style-type: none;
}
.toolbar>ul>li{
    display: inline;
    height:100%;
    width:50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2em;
    line-height: 2em;
    color: white;

    -o-transition:color .1s ease-out, background 0.1s ease-in;
    -ms-transition:color .1s ease-out, background 0.1s ease-in;
    -moz-transition:color .1s ease-out, background 0.1s ease-in;
    -webkit-transition:color .1s ease-out, background 0.1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .1s ease-out, background 0.1s ease-in;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Navbar Styles */
.navbar {

}