<!-- Horizontal navbar -->
<div id="navbar-wrapper" class="dankest-navbar col-xs-12">
  <div class="col-xs-1 pull-right" style="margin-top: 29px">
    <%= render 'devise/shared/login_links' %>
  </div>
</div>