<div class="toolbar toolbar-side" id="tranque-toolbar">
  <ul>
    <li><i class="fa fa-smile-o"></i></li>
    <li><i class="fa fa-info"></i></li>
    <li><i class="fa fa-cogs"></i></li>
  </ul>
</div>
<canvas id="tranque-replay"></canvas>
<%= javascript_include_tag 'paperscripts/replay', 'data-turbolinks-track' => true, type: 'text/paperscript', canvas: 'tranque-replay' %>
