<!-- Navbar -->
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img src="https://files.slack.com/files-pri/T048DNWV8-F07R4STD0/20150717_170757.jpg" style="max-height: 50px; width: 50px"></img>
      </li>
      <li><a href="/#"><span class="sidebar-icon fa fa-home" tooltip="Home"></span></a></li>
      <li><a href="/tanks/">Tanks</a></li>
      <li><a href="#">Teams</a></li>
      <li><a href="#">Watch</a></li>  
    </ul>
  </div>
</div>

<!-- /#navbar-wrapper -->