<!-- Navbar -->
<div class="sidebar-nav">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TR</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= render 'devise/shared/login_links' %>
            <li><a href="#">Home</a></li>
            <li><a href="/tanks/">Tanks</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>

<!-- /#navbar-wrapper -->